.rah-info-card-user{
  height: 70px;
  width:70px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  position: absolute;
  top:30px;
  /*left:-10px;*/
}

.card-content-padding{
	   padding-left: 93px;
    min-height: 150px;
}

.rah-info-card{
	min-height: 120px; 
}