<section class="customer-deshboard-bg inner-top-gap" >
	<div class="container"  style="text-align: justify;text-justify: inter-word;" >
		<div class="row header">
			<h3 style="text-align:center;" ><b>Refund and Cancellation Policy</b></h3>
		</div>
		<div class="row">
			<p>FIXPAPA concentration is complete consumer fulfillment. In the occasion, in the event that you are disappointed with the services/items provided, we will initially supplant back the item or attempt to determine the asserted inadequacy in service provided. On the off chance that the claimed issue of the client isn't settled then the refund of the sum will be given, as long as the reasons are bona fide and demonstrated after examination. If it's not too much trouble, read the fine prints of each arrangement before getting it.  
			</p>
			<p>Our Policy for the cancellation and refund will be as per the following: </p>
		</div>
		<div class="row">
			<h4><b>Cancellation Policy</b></h4>
			<p>For Cancellations please get in touch with us by means of &quot;Contact Us&quot; interface. </p>
			<p>Requests got later than 10 business days preceding the finish of the present service time frame will be dealt with as crossing out of service for the following service time frame. </p>
			<p>
				Abrogation expense/cancellation charges won't be charged until and except if the Service men of the specialist organization provided by FIXPAPA do not reach the client. Least Cancellation Fee of Rs.199/ - will be charged after the retraction of service/item by client after service men reaches the destination of giving service/item. 
			</p>
		</div>
		<div class="row" style="margin-bottom:70px;" >
			<h4><b>Refund Policy</b></h4>
			<p>At the outset, if the client is disappointed with merchandise and ventures provided by the specialist organization of the FIXPAPA, then FIXPAPA will initially supplant the said item and resolve the claimed inadequacy in benefit. On the off chance that the charged issue of the client isn't resolve with respect to the item and service then the refund will be given to the client furnished the quantum according to the insurance policy, will be greatest of Rs.10, 000/ - only which will be given by generation of report in help of the claim as set down under the policy of the Insurance Company. 
			</p>
			<p>The refund of the sum will be chosen according to quantum of compensation chosen by Insurance Policy on the inquiry item and service. </p>
			<p>On the off chance that paid with credit card, refunds will be issued to the first Credit Card given at the time of procurement and if there should be an occurrence of payment door name payments refund will be made to a similar record.</p>
		</div>
	</div>
</section>