<div class="row" style="margin-top: 100px;" ><div class="col-md-2"></div>
	<div class="col-md-8 forget-body"><div class="forget-text"><h3 class="header-style" ><ng-container>Forgot Password</ng-container></h3></div>
		<form novalidate [formGroup]="resetRequestForm" >
			<div class="form-group forget-filed">
				<h5 class="header-style" >Enter Your E-mail Id</h5>
				<input type="email" formControlName="email" name="email" style="text-align:center;text-align:webkit-center;" class="form-control header-style" id='fgot_email' />
			</div>
			<div class="error-div1" *ngIf="email.errors && (email.dirty || email.touched)" >
				<p *ngIf="email.errors.required">Email is required</p>
				<p *ngIf="email.errors.validEmail">Invalid Email</p>
			</div>
			<div style="margin-bottom:20px;" >
				<button type="button" id="resetButton" (click)="resetPassword()" class="abhi-btn btn btn-default header-style" [ngClass]="{'disabled' : disable}" >Submit</button>
			</div>
		</form>
	</div>
	<div class="col-md-2"></div>
</div>