<div class="modal fade"  id="hsn-modal"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" >&times;</button>
                <h4 class="modal-title">
                   HSN CODES
                </h4>
            </div>
           <div class="modal-body">
                <div class="bootstrap-iso">
                    <div class="container-fluid" style="height:500px;overflow-y: scroll;overflow-x: :hidden;" >
                       <h2>HSN CODES</h2>
						<table>
							<tr>
								<th>Product</th>
								<th>Code</th>
								<th>Tax Rate</th>
							</tr>
							<tr *ngFor="let item of hsnCodes;" >
								<td>{{item.productName}}</td>
								<td>{{item.code}}</td>
								<td>{{item.taxRate}}</td>
							</tr>
						</table>       
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " (click)="closeModal()" type="submit" >close</button>
            </div>
        </div>
    </div>
</div>