<div class="container-min-height" >

    <div class="Page-heading" >
        <h3>
            <div class="row">
                <div class="col-md-12">Change Password</div>
            </div>    
        </h3>
    </div>
    <div class="col-lg-12">
        <div class="rah-card-container ">
        	<div class="row">
        		<form id="cpForm" (submit)="changePassword(cpForm)" #cpForm="ngForm">
        			<div class="form-group col-lg-6">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" required [(ngModel)]="cpObj.oldPassword" class="form-control" name="oldPassword" id="oldPassword" placeholder="Old Password"   #oldPassword="ngModel">
                        <div class="error-div" *ngIf="cpForm.submitted && oldPassword.errors?.required" >
                          This field is required
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="newPassword">New Password</label>
                        <input type="password" required [(ngModel)]="cpObj.newPassword" class="form-control" name="newPassword" id="newPassword" placeholder="New Password"   #newPassword="ngModel">
                        <div class="error-div" *ngIf="cpForm.submitted && newPassword.errors?.required" >
                          This field is required
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                    	<button class="btn btn-primary rah-right" id="cpPassBtn" data-loading-text="Submit..." type="submit" >Submit</button>
                	</div>

        		</form>
        	</div>	
        </div>
    </div>

    <div class="Page-heading" *ngIf="role == 'superAdmin'">
        <h3>
            <div class="row">
                <div class="col-md-12">Commission</div>
            </div>    
        </h3>
    </div>
    <div class="col-lg-12"  *ngIf="role == 'superAdmin'">
        <div class="rah-card-container ">
            <div class="row">
                <form id="commissionForm" (submit)="setCommission(commissionForm)" #commissionForm="ngForm">
                    <div class="form-group col-lg-6">
                        <label for="serviceCom">Service Commission</label>
                        <input type="number" required max="100" min="0" [(ngModel)]="commissionData.serviceCommission" class="form-control" name="serviceCom" id="serviceCom" placeholder="Service Commission"   #serviceCom="ngModel">
                        <div class="error-div" *ngIf="commissionForm.submitted && serviceCom.errors?.required" >
                          This field is required
                        </div>
                        <!-- <div class="error-div" *ngIf="commissionForm.submitted && serviceCom.errors?.max" >
                            100 is Max value
                        </div>
                        <div class="error-div" *ngIf="commissionForm.submitted && serviceCom.errors?.max" >
                            0 is Max value
                        </div> -->
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="productCom">Product Commission</label>
                        <input type="number" required min="0" max="100" [(ngModel)]="commissionData.productCommission" class="form-control" name="productCom" id="productCom" placeholder="Product Commission" #productCom="ngModel">
                        <div class="error-div" *ngIf="commissionForm.submitted && productCom.errors?.required">
                          This field is required
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <button class="btn btn-primary rah-right" id="commissionBtn" data-loading-text="Submit..." type="submit" >Submit</button>
                    </div>

                </form>
            </div>  
        </div>
    </div>

</div>