<!DOCTYPE html>
<html>

<head>
  <title>Success</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
  .sc_msg{
  background: #f4fcfb;
  padding: 5%;
    text-align: center;
    margin-top: 10%;
    box-shadow: 0px 2px 20px -6px rgba(0,0,0,0.75);
}
.sc_msg h1{
font-size: 50px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #0f57a4;
}
.sc_msg p{
  font-size: 30px;
}
.sc_msg .fa{
font-size: 100px;
    color: #0f57a4;
}

</style>
<body>
<div class="container">
  <div class="row sc_msg">
  	<div class="col-md-2">
    </div>
    <div class="col-md-8">
    	<i class="fa fa-check-circle" aria-hidden="true"></i>
    	<h1>SUCCESS!</h1>
    	<p>Your payment is successfully done!</p>
    </div>
      <div class="col-md-2"></div>
     <div class="col-md-12">
      <a href="https://fixpapa.com/dashboard" style="float: right; text-decoration: underline;">Home</a>   </div> 
  </div>
</div>
	
</body>


</html>