<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
  .sc_msg1{
  background: #f4fcfb;
  padding: 5%;
    text-align: center;
    margin-top: 10%;
    box-shadow: 0px 2px 20px -6px rgba(0,0,0,0.75);
}
.sc_msg1 h1{
font-size: 50px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #c9302c;
}
.sc_msg1 p{
  font-size: 30px;
}
.sc_msg1 .fa{
font-size: 100px;
    color:#c9302c;
}
</style>
<body>
<div class="container">
  <div class="row sc_msg1">
  	<div class="col-md-2">
    </div>
    <div class="col-md-8">
    <i class="fa fa-frown-o" aria-hidden="true"></i>

    	<h1>OPPS!</h1>
    	<p>Something went wrong!</p>
      
    </div>
   <div class="col-md-2"></div>
     <div class="col-md-12">
      <a href="#" style="float:right">Home</a></div>
  </div>
</div>
	
</body>


</html>