<div class="login-bg">
  <div id="login-page">
      <div class="container">
        <form class="form-login" (submit)="resetPassword(resetPassForm)" #resetPassForm="ngForm">
            <h2 class="form-login-heading">Reset Password</h2>
            <div class="login-wrap">
	            <!-- <div class="alert alert-danger" *ngIf="actionError.isError">
	                {{actionError.msg}}
	            </div> -->

	            <input type="password" class="form-control" minlength="6" required [(ngModel)]="user.password" required name="password" placeholder="Password" #password="ngModel">
	            <div class="error-div" *ngIf="resetPassForm.submitted && password.errors?.required">
	              Password is required
	            </div>
	            <div class="error-div" *ngIf="resetPassForm.submitted && password.errors?.minlength">
	              password should be 6 characters long
	            </div><br>

	            <input type="password" class="form-control" minlength="6" required [(ngModel)]="user.conPassword" required name="conPassword" placeholder="Confirm Password" #conPassword="ngModel">
	            <div class="error-div" *ngIf="resetPassForm.submitted && conPassword.errors?.required">
	              Password is required
	            </div>
	            <div class="error-div" *ngIf="resetPassForm.submitted && conPassword.errors?.minlength">
	              password should be 6 characters long
	            </div>
	            <label class="checkbox">
	              <span class="pull-right">
	                  <a href="javascript:;" routerLink="/">Go to Login</a>
	              </span>
	            </label>
	            <button class="btn btn-theme btn-block" type="submit">Reset Password</button>
            </div>
          
        </form>
      </div>
  </div>
</div>