<section class="customer-deshboard-bg inner-top-gap" >
	<div class="container"  style="text-align: justify;text-justify: inter-word;" >
		<div class="row header">
			<h3 style="text-align:center;" ><b>Privacy & Security</b></h3>
		</div>
		<div class="row">
			<p>The expressions "We"/"Us"/"Our"/"Organization" independently and all in all allude to G L Technovations, is enrolled at 5-F 25, fifth Floor, Mahima Trinity Mall, Swage Farm, Near New Sanganer Road, Jaipur-302019, hereinafter alluded to as FIXPAPA and the expressions "You"/"Your"/"Yourself" allude to the clients. 
			</p>
			<p>This Privacy Policy is an electronic record as an electronic contract shaped under the Information Technology Act, 2000 and the guidelines made thereunder and the corrected arrangements relating to electronic reports/records in different statutes as revised by the Information Technology Act, 2000. This Privacy Policy does not require any physical, electronic or advanced mark. </p>
			<p>This Privacy Policy is a legally restricting record amongst you and FIXPAPA (the two terms characterized underneath). The terms of this Privacy Policy will be successful upon your acknowledgment of the same (specifically or in a roundabout way in electronic shape, by tapping on the "I Accept" tab or by utilization of the site or by different means) and will administer the connection amongst you and FIXPAPA for your utilization of the Application "App" (defined beneath). </p>
			<p>
				This report is distributed and will be understood as per the arrangements of the Information Technology (sensible privacy practices and strategies and delicate individual information of data) rules, 2011 under Information Technology Act, 2000; that require distributing of the Privacy Policy for gathering, utilize, stockpiling and exchange of delicate individual information or data. 
			</p>
			<p>
				It would be ideal if you read this Privacy Policy precisely, as by utilizing the Website, you validate that you comprehend, concur and agree to this Privacy Policy. In the event that you don't concur with the terms of this Privacy Policy, kindly don't utilize this Website. 
			</p>
			<p>
				By giving us your Information or by utilizing the amenities offered by the Website, You thus agree to the gathering, stockpiling, handling and exchange of any or the majority of Your Personal Information and Non-Personal Information by us as determined under this Privacy Policy. You additionally concur such accumulations, utilize, stockpiling and exchange of Your Information will not make any misfortune or wrongful gain to you or some other individual. 
			</p>
		</div>
		<div class="row">
			<h4><b>General</b></h4>
			<p>
				We won't offer or lease your own data to any outsider or utilize your email address/mobile number for unprompted mails or SMS. Any mail as well as SMS sent by FIXPAPA may be regarding the arrangement of concurred services and items and this Privacy Policy. Intermittently, we may uncover general numerical data about FIXPAPA and its clients, for example, number of visitors, number and sort of merchandise and services bought and so on. 
			</p>
			<p>We claim all authority to impart your own data in following cases:- </p>
			<ol>
				<li>When it is asked for or required by law or by any court or administrative organization or specialist to uncover, with the end goal of confirmation of identity, or for the avoidance, identification, examination including digital/cyber occurrences, or for indictment and discipline of offenses. These revelations are made in accordance with some basic honesty and conviction that such divulgence is sensibly important for authorizing these Terms; for conforming to the material laws and directions. 
				</li>
				<li>
					We propose to share such data inside its cluster organizations and officers and representatives of such cluster organizations to process individual data for its benefit. We additionally guarantee that these beneficiaries of such data consent to process such data in light of our directions and in consistence with this Privacy Policy and some other fitting secrecy and safety efforts. 
				</li>
			</ol>
		</div>
		<div class="row" >
			<h4><b>Individual Information </b></h4>
			<p>Individual Information implies and incorporates all data that can be connected to a particular individual or to distinguish any individual, for example, name, address, mailing address, phone number, email ID, Credit card number, cardholder name, card lapse date, data about your cell phone, DTH assistance, electricity connection, Smart Tags and any subtle elements that may have been wilfully furnish by the client regarding profiting any of the services on FIXPAPA. 
			</p>
			<p>When you peruse through FIXPAPA, we may gather data in regards to the mobile/tab gadget particulars, area and host from which you get to the web, the Internet Protocol [IP] address of the PC or Internet Service Provider [ISP] you are utilizing, and mysterious website numerical information.</p>
		</div>
		<div class="row" >
			<h4><b>Utilization of Personal Information</b></h4>
			<p>We utilize individual data to give you benefits and items you unequivocally asked for, to determine debate, investigate concerns, help advance safe services, gather cash, measure purchaser interest for our services, educate you about offers, items, services, updates, alter your experience, recognize and secure us against blunder, fraud and other criminal movement, implement our terms and conditions, and so forth.</p>
			<p>We likewise utilize your contact data to send you offers in light of your past requests and interests. </p>
			<p>We may once in a while request that you to finish discretionary online reviews. These reviews may approach you for contact data and statistic data (like postal code, age, sex, and so forth). We utilize this information to modify your involvement with FIXPAPA, furnishing you with content that we figure you may be keen on and to show content as indicated by your inclinations. </p>
		</div>
		<div class="row" >
			<h4><b>Cookies</b></h4>
			<p>A &quot;cookie&quot; is a little snippet of data put away by a web server on an internet browser so it can be later perused once again from that program. FIXPAPA utilizes cookie and tracing expertise relying upon the features offered. No individual data will be gathered by means of cookies and other tracing expertise; nonetheless, in the event that you beforehand has given individually identifiable data, cookies might be attached to such data. Total cookie and tracing data might be imparted to outsiders. </p>
		</div>
		<div class="row" >
			<h4><b>Links to Other Sites</b></h4>
			<p>Our App connects to different sites that may gather individually identifiable data about you. FIXPAPA isn't in charge of the privacy hones or the substance of those connected sites. </p>
		</div>
		<div class="row" >
			<h4><b>Security</b></h4>
			<p>FIXPAPA has stringent safety efforts set up to secure the misfortune, abuse, and change of the data under our control. At whatever point you change or access your record data, we offer the utilization of a safe server. Once your data is in our ownership we hold fast to strict privacy rules, ensuring it against unapproved get to. </p>
		</div>
		<div class="row" style="margin-bottom:70px;" >
			<h4><b>Assent</b></h4>
			<p>By utilizing FIXPAPA as well as by giving your data, you agree to the accumulation and utilization of the data you uncover on FIXPAPA as per this Privacy Policy, including yet not restricted to your assent for sharing your data according to this security procedure.</p>
			<p>
				We are required to make a mechanized IVR or a manual verification call to the client for cash on delivery (COD) order placed. You will get this verification call regardless of whether your number is enlisted for the Do Not Disturb (DND) alternative. 
			</p>
			<p>The name and contact details of the Grievance Officer are provided below:</p>
			<p>Mr. Chetan Saini	<br/>
				G L Technovations.<br/>
				5-F25, 5th Floor, Mahima Trinity Mall, Swage Farm near Sanganer Road, Jaipur - 302019<br/>
				Email: technogl@gmail.com<br/>
				Time: Mon - Sat (9:30 am - 6:30 pm)<br/>
			</p>
		</div>
	</div>
</section>